In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
from IPython.display import HTML

# Electro swing

In [ ]:
# Electroswing
# 
# Parov Stelar - Brass Devil (Official Video)
# https://www.youtube.com/watch?v=0kmTzotaHzM
# ENJOY!

In [71]:
HTML('<iframe width="560" height="315" src="https://www.youtube.com/embed/0kmTzotaHzM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>')

In [2]:
url = "https://www.chosic.com/genre-chart/electro-swing/"

In [3]:
response = requests.get(url)
response.status_code # 200 status code means OK!

200

In [4]:
soup = BeautifulSoup(response.content, "html.parser")

In [6]:
# print(soup.prettify())

In [24]:
soup.select("div.related-artists > div > div > div")

[<div class="wrapper-item-info">Parov Stelar</div>,
 <div class="wrapper-item-info">Caravan Palace</div>,
 <div class="wrapper-item-info">Chinese Man</div>,
 <div class="wrapper-item-info">Caro Emerald</div>,
 <div class="wrapper-item-info">Waldeck</div>,
 <div class="wrapper-item-info">Club des Belugas</div>,
 <div class="wrapper-item-info">Mo' Horizons</div>,
 <div class="wrapper-item-info">Jamie Berry</div>]

In [25]:
# List of top artists
for artist  in soup.select("div.related-artists > div > div > div"):
    print(artist.get_text())

Parov Stelar
Caravan Palace
Chinese Man
Caro Emerald
Waldeck
Club des Belugas
Mo' Horizons
Jamie Berry

In [46]:
# longer list of top artists with features
artists = []
for artist  in soup.select('table.info-table > tbody > tr > td > div > a'):
    artists.append(artist.get_text())

In [48]:
df = pd.DataFrame(artists, columns=['artist'])

In [49]:
df

                       artist
0                Parov Stelar
1              Caravan Palace
2                 Chinese Man
3                Caro Emerald
4                     Waldeck
..                        ...
152              Rube & Dusty
153   Betina Bager og Brian O
154   Tre Italiani In America
155   Betina Bager & DJ Disse
156                Sir Cosmic

[157 rows x 1 columns]

In [55]:
# longer list of top artists with features
popularity = []
for p  in soup.select('table.info-table > tbody > tr > td:nth-child(3)'):
    popularity.append(p.get_text())

In [58]:
df2 = pd.DataFrame(popularity, columns=['popularity'])

In [61]:
# longer list of top artists with features
instrumentalness = []
for i  in soup.select('table.info-table > tbody > tr > td:nth-child(4)'):
    instrumentalness.append(i.get_text())

In [62]:
df3 = pd.DataFrame(instrumentalness, columns=['instrumentalness'])

In [63]:
eswing =pd.concat([df, df2, df3], axis=1)

In [64]:
eswing

                       artist popularity instrumentalness
0                Parov Stelar        66               28
1              Caravan Palace        65                1
2                 Chinese Man        58               29
3                Caro Emerald        56                0
4                     Waldeck        53               29
..                        ...        ...              ...
152              Rube & Dusty         0                0
153   Betina Bager og Brian O         0               62
154   Tre Italiani In America         0                0
155   Betina Bager & DJ Disse         0                3
156                Sir Cosmic         0               92

[157 rows x 3 columns]

In [65]:
# longer list of top artists with features
danceability = []
for d in soup.select('table.info-table > tbody > tr > td:nth-child(5)'):
    danceability.append(d.get_text())

In [66]:
df4 = pd.DataFrame(danceability, columns=['danceability'])

In [67]:
eswing =pd.concat([eswing, df4], axis=1)

In [68]:
eswing

                       artist popularity instrumentalness danceability
0                Parov Stelar        66               28           80
1              Caravan Palace        65                1           73
2                 Chinese Man        58               29           69
3                Caro Emerald        56                0           84
4                     Waldeck        53               29           76
..                        ...        ...              ...          ...
152              Rube & Dusty         0                0            0
153   Betina Bager og Brian O         0               62           72
154   Tre Italiani In America         0                0            0
155   Betina Bager & DJ Disse         0                3           79
156                Sir Cosmic         0               92           85

[157 rows x 4 columns]

# Starcraft - Top players

In [73]:
url = "https://www.esportsearnings.com/games/151-starcraft-ii/top-players"

<img src="https://www.gamersnexus.net/images/media/2013/games/skt-telecom.jpg">
<img src="https://www.gamersnexus.net/images/media/2013/games/cj-entus.jpg">
<img src="https://www.gamersnexus.net/images/media/2013/games/stx-soul.jpg">

In [74]:
response = requests.get(url)
response.status_code # 200 status code means OK!

200

In [75]:
soup = BeautifulSoup(response.content, "html.parser")

In [77]:
# print(soup.prettify())

In [95]:
# Get player nicknames
player_id = []
for p_id in soup.select('table.detail_list_table > tbody > tr > td:nth-child(2) > a:nth-child(2)'):
    player_id.append(p_id.get_text())

In [97]:
# Get player nicknames
realname = []
for rn in soup.select('table.detail_list_table > tbody > tr > td:nth-child(3)'):
    realname.append(rn.get_text())

In [ ]:
# Get lifetime winning
winnings = []
for w in soup.select('table.detail_list_table > tbody > tr > td:nth-child(43)'):
    realname.append(w.get_text())

In [99]:
soup.select("table.detail_list_table > tbody > tr > td:nth-child(4)")

[<td class="format_cell detail_list_prize border_right">$1,146,688.55</td>,
 <td class="format_cell detail_list_prize border_right">$1,050,271.38</td>,
 <td class="format_cell detail_list_prize border_right">$1,009,374.12</td>,
 <td class="format_cell detail_list_prize border_right">$907,387.03</td>,
 <td class="format_cell detail_list_prize border_right">$792,511.00</td>,
 <td class="format_cell detail_list_prize border_right">$696,494.11</td>,
 <td class="format_cell detail_list_prize border_right">$678,326.59</td>,
 <td class="format_cell detail_list_prize border_right">$650,979.39</td>,
 <td class="format_cell detail_list_prize border_right">$650,327.09</td>,
 <td class="format_cell detail_list_prize border_right">$617,412.36</td>,
 <td class="format_cell detail_list_prize border_right">$555,547.63</td>,
 <td class="format_cell detail_list_prize border_right">$509,771.79</td>,
 <td class="format_cell detail_list_prize border_right">$494,254.36</td>,
 <td class="format_cell detail_list_prize border_right">$491,140.68</td>,
 <td class="format_cell detail_list_prize border_right">$475,900.67</td>,
 <td class="format_cell detail_list_prize border_right">$473,453.54</td>,
 <td class="format_cell detail_list_prize border_right">$469,721.12</td>,
 <td class="format_cell detail_list_prize border_right">$451,943.24</td>,
 <td class="format_cell detail_list_prize border_right">$443,109.50</td>,
 <td class="format_cell detail_list_prize border_right">$428,026.68</td>,
 <td class="format_cell detail_list_prize border_right">$422,337.91</td>,
 <td class="format_cell detail_list_prize border_right">$407,169.17</td>,
 <td class="format_cell detail_list_prize border_right">$404,994.83</td>,
 <td class="format_cell detail_list_prize border_right">$400,199.08</td>,
 <td class="format_cell detail_list_prize border_right">$372,788.71</td>,
 <td class="format_cell detail_list_prize border_right">$371,725.19</td>,
 <td class="format_cell detail_list_prize border_right">$360,027.92</td>,
 <td class="format_cell detail_list_prize border_right">$322,970.87</td>,
 <td class="format_cell detail_list_prize border_right">$313,850.93</td>,
 <td class="format_cell detail_list_prize border_right">$307,477.07</td>,
 <td class="format_cell detail_list_prize border_right">$303,729.63</td>,
 <td class="format_cell detail_list_prize border_right">$290,661.14</td>,
 <td class="format_cell detail_list_prize border_right">$288,225.07</td>,
 <td class="format_cell detail_list_prize border_right">$279,226.47</td>,
 <td class="format_cell detail_list_prize border_right">$265,914.84</td>,
 <td class="format_cell detail_list_prize border_right">$261,892.87</td>,
 <td class="format_cell detail_list_prize border_right">$252,905.97</td>,
 <td class="format_cell detail_list_prize border_right">$243,127.72</td>,
 <td class="format_cell detail_list_prize border_right">$236,924.55</td>,
 <td class="format_cell detail_list_prize border_right">$236,690.51</td>,
 <td class="format_cell detail_list_prize border_right">$233,783.91</td>,
 <td class="format_cell detail_list_prize border_right">$228,985.95</td>,
 <td class="format_cell detail_list_prize border_right">$226,046.48</td>,
 <td class="format_cell detail_list_prize border_right">$224,833.53</td>,
 <td class="format_cell detail_list_prize border_right">$222,769.24</td>,
 <td class="format_cell detail_list_prize border_right">$212,397.14</td>,
 <td class="format_cell detail_list_prize border_right">$205,052.35</td>,
 <td class="format_cell detail_list_prize border_right">$189,876.99</td>,
 <td class="format_cell detail_list_prize border_right">$183,568.96</td>,
 <td class="format_cell detail_list_prize border_right">$177,659.71</td>,
 <td class="format_cell detail_list_prize border_right">$175,427.13</td>,
 <td class="format_cell detail_list_prize border_right">$173,109.04</td>,
 <td class="format_cell detail_list_prize border_right">$172,891.85</td>,
 <td class="format_cell detail_list_prize border_right">$171,602.29</td>,
 <td class="format_cell detail_list_prize border_right">$165,652.45</td>,
 <td class="format_cell detail_list_prize border_right">$164,658.57</td>,
 <td class="format_cell detail_list_prize border_right">$157,564.32</td>,
 <td class="format_cell detail_list_prize border_right">$153,116.49</td>,
 <td class="format_cell detail_list_prize border_right">$151,030.84</td>,
 <td class="format_cell detail_list_prize border_right">$149,378.95</td>,
 <td class="format_cell detail_list_prize border_right">$148,758.87</td>,
 <td class="format_cell detail_list_prize border_right">$147,459.89</td>,
 <td class="format_cell detail_list_prize border_right">$143,862.24</td>,
 <td class="format_cell detail_list_prize border_right">$142,369.56</td>,
 <td class="format_cell detail_list_prize border_right">$141,662.54</td>,
 <td class="format_cell detail_list_prize border_right">$138,056.32</td>,
 <td class="format_cell detail_list_prize border_right">$137,741.63</td>,
 <td class="format_cell detail_list_prize border_right">$137,456.10</td>,
 <td class="format_cell detail_list_prize border_right">$134,450.51</td>,
 <td class="format_cell detail_list_prize border_right">$133,917.25</td>,
 <td class="format_cell detail_list_prize border_right">$132,113.35</td>,
 <td class="format_cell detail_list_prize border_right">$127,940.88</td>,
 <td class="format_cell detail_list_prize border_right">$126,135.49</td>,
 <td class="format_cell detail_list_prize border_right">$125,323.05</td>,
 <td class="format_cell detail_list_prize border_right">$123,275.22</td>,
 <td class="format_cell detail_list_prize border_right">$118,650.73</td>,
 <td class="format_cell detail_list_prize border_right">$118,188.84</td>,
 <td class="format_cell detail_list_prize border_right">$115,102.67</td>,
 <td class="format_cell detail_list_prize border_right">$114,941.13</td>,
 <td class="format_cell detail_list_prize border_right">$114,305.31</td>,
 <td class="format_cell detail_list_prize border_right">$111,579.95</td>,
 <td class="format_cell detail_list_prize border_right">$109,440.09</td>,
 <td class="format_cell detail_list_prize border_right">$106,039.84</td>,
 <td class="format_cell detail_list_prize border_right">$104,322.88</td>,
 <td class="format_cell detail_list_prize border_right">$102,860.50</td>,
 <td class="format_cell detail_list_prize border_right">$102,682.90</td>,
 <td class="format_cell detail_list_prize border_right">$102,454.26</td>,
 <td class="format_cell detail_list_prize border_right">$100,271.58</td>,
 <td class="format_cell detail_list_prize border_right">$98,451.08</td>,
 <td class="format_cell detail_list_prize border_right">$98,041.11</td>,
 <td class="format_cell detail_list_prize border_right">$94,907.10</td>,
 <td class="format_cell detail_list_prize border_right">$94,856.43</td>,
 <td class="format_cell detail_list_prize border_right">$93,857.75</td>,
 <td class="format_cell detail_list_prize border_right">$93,775.14</td>,
 <td class="format_cell detail_list_prize border_right">$92,282.22</td>,
 <td class="format_cell detail_list_prize border_right">$91,021.35</td>,
 <td class="format_cell detail_list_prize border_right">$90,152.64</td>,
 <td class="format_cell detail_list_prize border_right">$89,725.40</td>,
 <td class="format_cell detail_list_prize border_right">$88,169.61</td>,
 <td class="format_cell detail_list_prize border_right">$86,777.33</td>]