In [70]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [71]:
url = "http://www.popvortex.com/music/charts/top-100-songs.php"

In [72]:
response = requests.get(url)
response.status_code # 200 status code means OK!

200

In [73]:
soup = BeautifulSoup(response.content, "html.parser")

In [88]:
# print(soup.prettify())

In [89]:
for track in soup.select('#chart-position-1 > div:nth-child(2) > p:nth-child(1) > cite:nth-child(1)'):
    print(track.get_text())

About Damn Time

In [90]:
track_names = []
for i in range(1, 100, 1):
    track_name = soup.select("#chart-position-"+str(i)+ "> div:nth-child(2) > p:nth-child(1) > cite:nth-child(1)")
    track_names.append(*track_name)

In [91]:
# track_names

In [92]:
artists = []
for i in range(1, 100, 1):    
    artist = soup.select('#chart-position-'+str(i)+ '> div:nth-child(2) > p:nth-child(1) > em:nth-child(2)')
    artists.append(*artist)

In [93]:
# artists

In [94]:
top100 = pd.concat([pd.DataFrame(track_names, columns=['track_names']), pd.DataFrame(artists, columns=['artists'])], axis=1)

In [95]:
top100

              track_names       artists
0         About Damn Time         Lizzo
1               This Love  Taylor Swift
2            Hold My Hand     Lady Gaga
3               As It Was  Harry Styles
4             First Class   Jack Harlow
..                    ...           ...
94         Mr. Brightside   The Killers
95  GIVE HEAVEN SOME HELL         HARDY
96   Something In The Way       Nirvana
97             The Reason    Hoobastank
98             Rebel Yell    Billy Idol

[99 rows x 2 columns]